.example-spacer {
    flex: 1 1 auto;
}

.header-logo {
    padding-right: 20px;
    padding-left: 15px;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

::ng-deep .mat-ink-bar {
    background-color: yellow !important;
}

.mat_card_custom_header {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.mat-card-header {
    background-color: red;
}

.freebirdSolidBackground {
    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.freebirdFormeditorViewPageThemeStripe {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
}

.freebirdFormeditorViewCursorColorContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.m2 .hasSectionTab .freebirdFormeditorViewCursorColor,
.m2 .firstPage .freebirdFormeditorViewCursorColor {
    border-top-left-radius: 0;
}

.m2 .freebirdFormeditorViewCursorColor,
.bF .freebirdFormeditorViewCursorColor {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.freebirdFormeditorViewCursorColor {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    position: relative;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}


/* .mat-card {
    background: #ffffff;
    color: #c2315c;
} */

.ui_elements_custom_card {
    /* margin-bottom: 5px;
    margin-left: 20px; */
    width: 35%;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 7px;
}